.cards{
    background-color: black;
    border-radius: 15px;
    height:30vh;
    width: 10%;
    text-align: center;
    margin: 2vh;
    font-size: 25px;
    color: aliceblue;

} 
.pagina{
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 8vh;
    
    border: solid black 5px;
    border-radius: 15px;
}
img{
    display: flex ;
    justify-content: center;
    width: 100%;
    height: 60%;
} 
.corVouD{
    height: 20%;
    width:100%; 
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: brown;

} 
.corV{
    background-color: green;
    height: 20%;
    width:100%; 
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
} 
.cards{
    transition: 605ms ease-in-out;
    transform: rotateX(360deg) rotateY(-360deg) rotateZ(0deg);
}
















